<% if current_user != @user %>
<div	id="relationship_form">
  <% @relationship = current_user.relationship?(@user) %>
  <% if @relationship == nil %>
   <% @label = "invite friend"  %>
   <%=	render	'add_friend'	%>
   <% else %>
   <% if @relationship == :invit %>
   <div>
     <% @label = "accept friend"  %>
     <div><%=	render	'accept_friend'	%></div>
     <% @label = "deny friend"  %><br>
     <div><%=	render	'delete_relationship'	%></div>
   </div>
   <% end %>
   <% if @relationship == :frend %>
     <% @label = "deny friend"  %>
     <%=	render	'delete_relationship'	%>
   <% end %>
   <% if @relationship == :wish %>
     <% @label = "deny my wish to be frend"  %>
     <%=	render	'delete_relationship'	%>
   <% end %>
 <% end %>
</div>
<% end %>
