
<h2><%= "#{@user.first_name} #{@user.last_name}" %></h2>
<br>
<br>
<%= image_tag @user.avatar.url(:medium) %>
<br>

 <br>
 <%= @user.email %>
 <br>
 <br>
 <p><b>Gender: </b><%= current_user.gender %></p>
 <p><b>Location:</b> <%= current_user.location %></p>
 <p><b>Birthdate:</b> <%= current_user.birthday %></p>
 <div	id="relationship_form">
   <% @relationship = current_user.relationship?(@user) %>
   <% if @relationship == nil %>
    <% @label = "invite friend"  %>
    <%=	render	'add_friend'	%>
    <% else %>
    <% if @relationship == :invit %>
    <div>
      <% @label = "accept friend"  %>
      <div><%=	render	'accept_friend'	%></div>
      <% @label = "deny friend"  %>
      <div><%=	render	'delete_relationship'	%></div>
    </div>
    <% end %>
    <% if @relationship == :frend %>
      <% @label = "deny friend"  %>
      <%=	render	'delete_relationship'	%>
    <% end %>
    <% if @relationship == :wish %>
      <% @label = "deny my wish to be frend"  %>
      <%=	render	'delete_relationship'	%>
    <% end %>
  <% end %>
</div>
<br>
