<div class = "log_in">

<h3>Log in to My_Facebook</h3>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">

    <%= f.email_field :email, autofocus: true , id: "inputEmail",
                                          class: " signin-field-width",  placeholder: "Email"%>
  </div>
  <br>
  <div class="field">

    <%= f.password_field :password, autocomplete: "off" , id: "inputEmail",
                                          class: " signin-field-width",  placeholder: "Password"%>
  </div>

  <br>

  <div class="field">
    <%= f.submit "Log in", class: "signin-field-width" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
