<%= form_for(@post) do |f| %>

  <div class="field">

    <%= f.label "Title"  %>
    <%= f.text_field :title  %>
    <%= f.text_area :content, size: "60x12", placeholder: "Compose new post..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
