<%= form_for(@post) do |f| %>

  <div class="field">

    <%= f.label "Title"  %><br>
    <%= f.text_field :title , size: "60x" %><br><br>
    <%= f.text_area :content, size: "60x12", placeholder: "Compose new post..." %><br>
  </div>
<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
