
        <li><%= link_to "Profile", "#" ,id: "menu" %></li>
        <li><%= link_to "Posts", posts_path ,id: "menu" %></li>
        <li><%= link_to "Users", users_index_path ,id: "menu" %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id = "menu">
              Friends  </b>
            <% if @invites != 0 || @new_frends != 0 %>
              <split>New</split>
            <% end %>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Find Friends", users_index_path %></li>
              <li><%= link_to "My Friends: #{@frends} ", show_users_friends_path %>  </li>
              <% if @new_frends != 0 %>
              <li><%= link_to "New Friends: #{@new_frends}", show_users_new_friends_path, style: "color:red;" %> </li>
              <% end %>
              <li class="divider"></li>
              <li>
                <% if @wish_frends != 0 %>
                <%= link_to "My wish to be friends: #{@wish_frends} ", show_users_wishes_path %>
                <% end %>
                <% if @invites != 0 %>
                <li><%= link_to "Invites from users: #{@invites}", show_users_invites_path ,style: "color:red;" %> </li>
                <% end %>
              </li>
            </ul>
          </li>
      <li><%= link_to "Sign out",  destroy_user_session_path, method: "delete" ,id: "menu" %></li>
