<div style = "text-align : left; margin: 20px;">
<%= image_tag current_user.avatar.url(:medium) %>

<h4><%= "#{current_user.first_name} #{current_user.last_name}" %></h4>
<p><b>Gender: </b><%= current_user.gender %></p>
<p><b>Location:</b> <%= current_user.location %></p>
<p><b>Birthdate:</b> <%= current_user.birthday %></p>

<p><%= link_to "Edit Profile", edit_users_path(current_user) %></p>
</div>
